<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View news</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/viewNews.css}">
</head>

<body>

	<div class="header">
		<h1>News management</h1>
		<div class="languages">
			<a href="">English</a>
			<a href="">Russian</a>
		</div>
		<hr>
	</div>

	<div class="pageNavigation">
		<div class="title">
			<h3>News</h3>
		</div>
		<div class="pageLinks">
			<div class="link">
				<div class="circle">
					<div class="smallCircle"></div>
				</div>
				<a href="/home">News list</a>
			</div>

			<div class="link">
				<div class="circle">
					<div class="smallCircle"></div>
				</div>
				<a href="/addNews">Add news</a>
			</div>

		</div>
	</div>

	<div class="new">
		<h4>News  >> </h4>
		<h3>News view</h3>

		<div class="title">
			<h3>News Title</h3>
			<input type="text" name="titleInput" value="Some title" readonly>
		</div>

		<div class="date">
			<h3>News Date</h3>
			<input type="date" name="dateInput" readonly>
		</div>

		<div class="brief">
			<h3>Brief</h3>
			<textarea readonly>Some brief</textarea>
		</div>

		<div class="content">
			<h3>Content</h3>
			<textarea readonly>Some content</textarea>
		</div>

		<div class="add">
			<input type="button" name="exitButton" value="EXIT">		
		</div>

		<div class="cancel">
			<input type="button" name="deleteButton" value="DELETE">
		</div>
	</div>

</body>

</html>